Flask
python-dotenv
Flask-Cors
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
# Optional packages if needed in the future:
# Flask-Login==0.6.2
# Flask-Bcrypt==1.0.1
# gunicorn==20.1.0  # For production WSGI server
